<center><h1><%= title %></h1></center>

<table class="table">
  <thead>
  <tr>
    <th>description</th>
    <% if user_page %>
        <th>retro</th>
    <% else %>
        <th>assigned to</th>
    <% end %>
    <th>issue</th>
    <% if title == "Tasks from Last Week" %>
        <th>mark_as_done</th>
    <% end %>
  </tr>
  </thead>

  <tbody id="tasks">
  <% tasks.each do |task| %>
    <%= render partial: "outstandings/singletask", locals: {task:  task,
                                                title: title,
                                                user_page: user_page} %>
  <% end %>
  </tbody>
</table>
<div id="edit-task" style="display: none;"></div>
