<h1>Listing tasks</h1>

<table class="table">
  <thead>
  <tr>
    <th>description</th>
    <th>assigned to</th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <%= render partial: "outstandings/singletask", locals: {task:  task,
                                                                title: "Listing tasks",
                                                                user_page: false} %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_issue_outstanding_path(@issue.id) %>
