<form class="form-horizontal" method="POST" action="<%= users_path %>">
  <fieldset>

    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email</label>
      <div class="col-md-4">
        <input id="email" name="user[email]" type="text" placeholder="you@there.com" class="form-control input-md" required="" value="<%= @user.email %>">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="user[name]">Name</label>
      <div class="col-md-4">
        <input id="user[name]" name="user[name]" type="text" placeholder="Your name" class="form-control input-md" required="" value="<%= @user.name %>">

      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="user[password]">Password</label>
      <div class="col-md-4">
        <input id="user[password]" name="user[password]" type="password" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="user[password_confirmation]">Confirm password</label>
      <div class="col-md-4">
        <input id="user[password_confirmation]" name="user[password_confirmation]" type="password" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </fieldset>
</form>
