<h2>Create user</h2>

<%= render partial: "users/form", locals: {
title: "Create User",
button_title: "Save",
action: users_path(@user),
action_method: "POST" } %>

<%= link_to 'Cancel', users_path %>
