// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tr {
  margin-top: 10px;
  margin-bottom: 0;
  border: none;
}

.th {
  border: none;
}

.td {
  border: none;
}

.table {
  border: none;
}

.retro-header {
  font-weight: bold;
  border: none;
}

.retro-good {
  background-color: #a0ff89;
}

.retro-meh {
  background-color: #d7db03;
}

.retro-bad {
  background-color: #dc7c7c;
}

[class*="retro-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  padding: 20px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

a:hover {
}